@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  
  body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #410D70;
  }
     
  h1 {
    text-align: center;
    margin: 20px auto 30px;
    font-size: 35px;
  }

  #deco{
    max-width: 400px;
    margin: 30px auto;
  }

  p{
    text-align: left;
    margin: 20px 20px;
    font-size: 15px;
  }

  .entrada {
    margin: 20px auto;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
     
  #guess-input {
    /*display: block;
    margin: 0 5px 20px;*/
    margin-right: 5px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 3px solid #110f0fd7;
    border-radius: 4px;
  }
     
  button {
    /*display: block;
    margin: 0 auto;*/
    font-family: 'Press Start 2P', sans-serif;
    padding: 10px 10px;
    font-size: 15px;
    background-color: #0CBABA;
    border: 3px solid rgba(0, 0, 0, 0.377);
    color: #fff;
    border: none;
    border-radius: 3px;

  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 3px solid rgba(0, 0, 0, 0.377);
      padding: 10px;
      margin: 5px 10px;
      border-radius: 3px;
      min-width: 30px;
      min-height: 30px;
      text-align: center;
      line-height: 30px;
      display: inline-block
  }
  
  #grid {
    margin-top: 20px;
  }

  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }

  #error{
    display: none;
    color: red;
  }
 
  #contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  }

  #detalle{
    background: white;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    border-style: 10px groove black;
  }

  #juego{
    background: #BDDED5;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    color: black;
    /*display: none;*/
  }

  #fin{
    display: none;
  }

  #guesses{
    font-size: medium;
    text-align: center;
  }

  




